/* #region Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* #endregion */

/* #region Main Styles */
body {
    font-family: var(--font-title);
    color: var(--background-color) !important;
    background-color: var(--background-color) !important;

    overflow: auto;
    height: 100%;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
:root {
    --background-color: #121212;
    --white-color: white;
    --gray-color: rgba(128, 128, 128, 0.5);

    --font-title: 'Bitter', serif;
    --font-body: 'Inter', Arial, sans-serif;
    --font-mono: 'Space Mono', sans-serif;
    
    --font-title-size: 5rem;
    --font-section-title-size: 5rem;
    --font-title-weight: 700;

    --font-body-size: 1.5rem;
    --font-body-weight: 400;

    --font-mono-size: 1.5rem;
    --font-mono-weight: 300;
    --font-mono-size-header: 1rem;

    --side-padding: 10vw;
    --button-sizing: 50px;
    --button-radius: 15px;

    --splatter-size: 40vw;
    --splatter-size-2: clamp(325px, calc(var(--splatter-size) / 1.5), 375px);

    --hero-content-padding: 2em;
    --memoji-size: 275px;
}

.section {
    display: flex;
    justify-content: center;

    padding: 0 var(--side-padding);

    background-color: var(--background-color);
    color: var(--white-color);
}
.section-title {
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 0.25em;
    gap: 0.25em;

    font-family: var(--font-title);
    font-size: var(--font-section-title-size);
    font-weight: var(--font-title-weight);
}
.section-title-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}
.section-title-text:nth-child(1) {
    background-image: url('../assets/splatters/about.jpeg');
}
.section-title-text:nth-child(2) {
    background-image: url('../assets/splatters/work.jpeg');
}
.badge {
    font-family: var(--font-mono);
    font-size: var(--font-mono-size) / 2;
    font-weight: var(--font-mono-weight);
}
/* #endregion */

/* #region Navbar */
/* General Navbar */
.navbar {
    background-color: var(--background-color);
    border-bottom: 2px var(--gray-color) solid;
    box-shadow: 0px 5px;

    font-family: var(--font-mono);
    font-weight: var(--font-mono-weight);
    font-size: var(--font-mono-header);
}
.navbar button {
    padding: 0.5em 1em;
    
    background-color: var(--background-color);
    
    border-style: solid;
    border-color: var(--white-color);
    border-radius: var(--button-radius);
    -webkit-border-radius: var(--button-radius); 
    -moz-border-radius: var(--button-radius); 

    color: var(--white-color);
    text-decoration: none;
    text-align: center;
}
.navbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    text-decoration: none;
}
.navbar-links-and-buttons {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    
    gap: 1em;
    margin: 0px 0.5em;
}
.navbar .resume-button {
    background: linear-gradient(var(--white-color),var(--white-color)) no-repeat, var(--background-color);

    transition: 0.3s ease;
    background-size: 0% 100%;
    background-position:center;
}
.navbar-brand {
    padding: 0px;
    margin-left: 0.25em;
    margin-right: 0.25em !important;
}

/* Scroll-Link */
.scroll-link {
    padding: 0.5em 1em !important;
    color: var(--white-color) !important;
    cursor: pointer;
}
.scroll-link::before {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    
    background-color: var(--white-color);
    content: "";

    transform: scaleX(0);
    transition: transform 0.3s ease;
}

/* #endregion */

/* #region Hero */
/* General */
.hero {
    height: 90vh;
}

/* Word Content */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: calc(50vw - var(--side-padding));
    
    padding-right: var(--hero-content-padding);
    gap: 2em;
}
.text-content {
    text-align: left;
}
.pre-title {
    font-family: var(--font-mono);
    font-size: var(--font-mono-size);
    font-weight: var(--font-mono-weight);
}
.name {
    font-family: var(--font-title);
    font-size: var(--font-title-size);
    font-weight: var(--font-title-weight);
    line-height: normal;

    color: var(--white-color);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-image: url('../assets/splatters/name.jpeg');
}
.description {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

/* Engage Buttons */
.engage-buttons {
    display: flex;
    gap: 1rem;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;

    background: linear-gradient(var(--background-color),var(--background-color)) no-repeat, var(--white-color);
    border-radius: 50%;

    transition: 0.3s ease;
    background-size: 0% 100%;
    background-position: center;
}
.button svg {
    padding: auto;
    margin: auto;

    color: var(--background-color);
    transition: 0.3s ease;
}

/* Visual Content */
.hero-visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40vw;
}
.hero-visual .memoji {
    position: absolute;
    z-index: 2;

    height: var(--memoji-size);
    width: var(--memoji-size);
}
.splatter-container {
    width: var(--splatter-size) !important;
    height: var(--splatter-size);
    margin: 1em auto;
}
.splatter-container img {
    width: var(--splatter-size);
    height: var(--splatter-size);

    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.splatter-mask-1 {
    -webkit-mask-image: url('../assets/splatters/splash.png');
    mask-image: url('../assets/splatters/splash.png');  
}
/* #endregion */

/* #region About */
/* General */
.about {
    flex-direction: column;
    margin-bottom: 10em;
}
.about .about-content {
    display: flex;
    align-items: center;
}

/* Text Content */
.about .description {
    display: flex;
    flex-direction: column;

    width: 40vw;
    padding-right: 1em;

    text-align: left;
}

/* Visual Content */
.about .skill-container {
    width: 40vw;
}
.skill-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40vh;
}
.canvas-container {
    display: block;
    position: relative;
    z-index: 100;
    
    width: auto;
}
.about canvas {
    height: 300px !important;
    width: 40vw !important
}
.about .splatter-container {
    position: absolute;
    z-index: 0;

    width: var(--splatter-size-2) !important;
    height: var(--splatter-size-2);
}
.about .splatter-container img {
    width: var(--splatter-size-2) !important;
    height: var(--splatter-size-2);
}
.splatter-mask-2 {
    -webkit-mask-image: url('../assets/splatters/hex-splash.png');
    mask-image: url('../assets/splatters/hex-splash.png');  
}
.about .hstack {
    flex-wrap: wrap;
    justify-content: center;

    gap: 1em;
    padding: 0.25em;

    font-family: var(--font-mono);
}
/* #endregion */

/* #region Work */
/* General */
.section.work {
    flex-direction: column;
    height: 100%;
}
.section.work .section-title {
    justify-content: flex-end !important;
}
.work-projects-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Project Card */
.project .card {
    --card-padding: 1em;

    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 2rem;
}
.project .card-body {
    display: flex;
    padding: var(--card-padding);
}

/* Project Image */
.project .project-image-container {
    width: 50%;
}
.project .card-img {
    width: 100%;

    border-radius: 1.5rem;
    
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    transition: 0.3s ease;
}

/* Project Text Content */
.project .project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    padding-left: var(--card-padding);
}
.project .card-title {
    font-family: var(--font-title);
    font-size: calc(var(--font-title-size) * 0.4);
    font-weight: var(--font-title-weight);
    text-align: left;
    color: var(--white-color);
}
.project .card-subtitle {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    text-align: left;
}

.project .project-features {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
}
.project .hstack {
    flex-wrap: wrap;
    justify-content: center;

    gap: 1em;
    padding: 0.25em;

    font-family: var(--font-mono);
}
.project .project-icons {
    display: flex;
    justify-content: center;

    gap: 0.5em;
}
/* #endregion */

/* #region Footer */
/* General */
.footer {
    display: flex;
    justify-content: center;

    margin-top: 5em;

    background-color: var(--background-color);
    color: white;
}
.footer-text {
    font-family: var(--font-mono);
    font-size: var(--font-mono-size) / 2;
    font-weight: var(--font-mono-weight);

    padding: 2em;
}

/* Link */
.footer a {
    color: white;
    text-decoration: underline;

    transition: 0.3s ease;
}
/* #endregion */

/* #region Media Splits */
@media screen and (max-width: 1349px) {
    :root {
        --memoji-size: 250px;
    }
}
@media screen and (max-width: 1199px) {
    :root {
        --font-body-size: 1.25rem;
    }
}
@media screen and (max-width: 999px) {
    /* General */
    :root {
        --font-section-title-size: 4rem;
        --splatter-size: 80vw;
        --memoji-size: 40vw;
    }
    .section {
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-bottom: 4em;
    }

    /* Hero */
    .hero {
        justify-content: center;
        align-items: center;
    }
    .hero-container {
        margin-bottom: 4em; 
    }
    .hero-content {
        justify-content: center;
        padding-right: 0px;
        width: 100%;
    }
    .text-content {
        text-align: center;
    }
    .engage-buttons {
        justify-content: center;
    }
    .hero-visual {
        width: 100%;
    }

    /* About */
    .about .about-content {
        flex-direction: column;
    }
    .about .description {
        text-align: center;
        padding-right: 0px;
        width: 100%;
    }
    .about .skill-container {
        width: 80vw;
    }
    .about .splatter-container {
        overflow: hidden;
    }
    .about canvas {
        width: 100% !important;
    }
    .about .hstack {
        justify-content: center;
    }

    /* Work */
    .project .card-body {
        flex-direction: column;
    }
    .project .project-image-container {
        width: 100%;
    }
    .project .card-img {
        width: 100%;
        height: auto;
    }
    .project .project-content {
        padding-left: 0px;
        padding-top: 1em;

        width: 100%;
    }
    .project-text-container {
        margin-bottom: 1em;
    }
    .project .card-title {
        text-align: center;
    }
    .project .card-subtitle {
        text-align: center;
    }
    .project .project-icons {
        justify-content: center;
    }   

    /* Footer */
    .footer {
        margin-top: 2em;
    }
}
@media screen and (max-width: 749px) {
    /* Navbar */
    .container-fluid {
        justify-content: center !important;
    }
    /* Hero */
    .name {
        font-size: 4rem;
    }
    
}
@media screen and (max-width: 499px) {
    /* Root */
    :root {
        --splatter-size-2: 275px;
    }

    /* Hero */
    .name {
        font-size: 3.5rem;
    }
    .hero-content {
        padding: 0px;
        width: 100%;
        gap: 1em;
    }
    .button svg {
        height: 40px !important;
        width: 40px !important;
    }
    .button {
        height: 46px;
        width: 46px;
    }

    /* About */
    .skill-graphics {
        height: 35vh;
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        height: 10vh;
    }
}
/* #endregion */

/* #region Touchscreen */
@media(hover: hover) and (pointer: fine) {
    .scroll-link:hover::before {
        transform: scaleX(1);
    }
    .resume-button:hover {
        background-size: 100% 100%;
        color: var(--background-color);
    }
    .button:hover {
        background-size: 100% 100%;
    }
    .button:hover svg {
        color: white !important;
    }

    .project:hover .card-img {
        -webkit-filter: none;
        filter: none;
    }
    .footer a:hover {
        color: var(--gray-color);
        text-decoration: none;
    }
}
/* #endregion */
